<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layouts/layout::plantilla">

<head>
    <title th:fragment="titulo">Productos</title>
</head>

<body>
    <div th:fragment="contenido">
        <!--VISTA PARA EL LISTADO Y AGREGADO-->
        <div class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6" style="margin-bottom: 10px;">
                            <a href="#addEmployeeModal" class="btn btn-outline-info btn-lg" data-toggle="modal"><i
                                    class="fas fa-fw fa-table"></i> Nuevo Producto</a>
                        </div>
                        <div class="row justify-content-center align-items-center col-10 offset-1">
                            <h4 class="display-4">LISTADO DE PRODUCTOS</h4>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered" id="Pdatos">
                    <thead class="bg-info">
                        <tr class="text-light text-center">
                            <th>ID</th>
                            <th>Precentación</th>
                            <th>Nombre</th>
                            <th>Categoría</th>
                            <th>Precio</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <!-- <tbody class="text-dark">
                        <tr th:each="i : ${items}">
                            <td th:text="${i.idProducto}"></td>
                            <td><img th:src="${i.imagen}" width="100px" height="100px"/></td> 
                            <td th:text="${i.nombreProducto}"></td>
                            <td th:text="${i.idCategoria.nombreCategoria}"></td>
                            <td th:text="${i.precio}"></td>
                            <td><a name="modificar" id="modificar" class="btn btn-warning"
                                    th:href="@{'/producto/modificar/' + ${i.idProducto}}" role="button">Editar</a>

                                <a class="btn btn-danger delete"
                                    th:href="@{'/producto/eliminar/' + ${i.idProducto}}">Eliminar</a>
                            </td>
                        </tr>
                    </tbody> -->
                </table>
            </div>
        </div>

        <!--PARA AGREGAR UN NUEVO PRODUCTO-->
        <div id="addEmployeeModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-secondary">
                        <h4 class="modal-title text-light">NUEVO PRODUCTO</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="nombre">Nombre Producto: </label>
                            <input type="text" name="nombreProducto" class="form-control" id="nombre" required
                                autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label>Precio: </label>
                            <input type="text" name="precio" autocomplete="off" class="form-control" id="precio"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="categoria">Categoria: </label>
                            <!--<input type="number" name="categoria" class="form-control" required>-->
                            <select name="categoria" class="form-control" id="categoria" required>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Precentación: </label>
                            <input type="file" name="imagen" class="form-control" id="imagen" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success" id="guardarProducto">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- MODAL PARA EDITAR EL PRODUCTO  -->
        <div id="modificarProducto" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-secondary">
                        <h4 class="modal-title text-light">Modificar PRODUCTO</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="number" name="id" class="form-control" id="idProducto" required
                                autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label>Nombre Producto: </label>
                            <input type="text" name="nombreProducto" class="form-control" id="nombre2" required
                                autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label>Precio: </label>
                            <input type="text" name="precio" autocomplete="off" class="form-control" id="precio2"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="categoria">Categoria: </label>
                            <!--<input type="number" name="categoria" class="form-control" required>-->
                            <select name="categoria" class="form-control" id="categoria2" required>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Precentación: </label>
                            <input type="file" name="imagen" class="form-control" id="imagen2" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success" id="btnmodificarProducto"
                            data-dismiss="modal">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

        <!--ELIMINAR PRODUCTO-->
        <div id="deleteProductoModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">
                            <h4 class="modal-title">Eliminar Producto</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="idProduct" class="form-group">
                            <p>¿Esta seguro de eliminar este producto?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal" value="Cancelar">Cancelar</button>
                            <button type="button" id="eliminarProducto" class="btn btn-danger" data-dismiss="modal" value="Eliminar">Eliminar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
        <script src="/js/Ajax/Productos/Producto.js"></script>
    </div>
</body>

</html>