<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Ordenes</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link rel="icon" href="/img/logo2.png">
</head>

<body class="container" style="background-color: rgb(59, 59, 59);">
	<div>
		<br>
		<h1 class="display-4 text-center" style="color: #fff;">Detalle Orden</h1>
		<br>
		<table class="table table-hover">
			<thead class="thead-dark">
				<tr>
					<th>Orden N°</th>
					<th>Cliente</th>
					<th>Estado</th>
				</tr>
			</thead>
			<tbody id="contenedor">
			</tbody>
		</table>
	</div>
	<script>
		$(document).ready(function () {
			
			$.ajax({
				method: "GET",
				url: "/../..",
				data: {},
				success: function (response) {
					
				},
				error: function (response){
					alert('#ERROR!');
				}
			});
		});
	</script>
</body>

</html>