<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layouts/layout::plantilla">

<head>
    <title th:fragment="titulo">Roles</title>
</head>

<body>
    <div th:fragment="contenido">
        <!--VISTA PARA EL LISTADO Y AGREGADO-->
        <div class="col-10 offset-1 mt-3">
            <button id="modal" type="button" class="btn btn-secondary btn-lg" data-toggle="modal"
                data-target="#ModalAddRol"><i class="fas fa-user-cog"></i> NUEVO ROL</button>
        </div>
        <div class="row justify-content-center align-items-center col-10 offset-1">
            <h1 style="margin-bottom: 20px;">LISTADO DE ROLES</h1>
        </div>

        <div class="container">
            <table class="table table-hover" id="miTabla">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Rol</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="i : ${items}">
                        <td th:text="${i.idRol}"></td>
                        <td th:text="${i.rol}"></td>
                        <td><a name="modificar" id="modificar" class="btn btn-primary"
                                th:href="@{'/roles/modificar/' + ${i.idRol}}">Editar</a></td>
                        <td><a class="btn btn-danger"
                                th:href="@{'/roles/eliminar/' + ${i.idRol}}">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Modal para guardar -->
        <div class="modal fade" id="ModalAddRol">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-info">
                        <h4 class="modal-title ti">AGREGAR ROL</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/roles/guardar}" method="post">
                            <div class="form-group row">
                                <label for="name" class="col-sm-2 control-label lb">Rol:</label>
                                <input type="text" class="form-control col-6" name="rol" placeholder="Nuevo rol"
                                    required="required">
                                <input type="submit" class="btn btn-outline-success col-2 offset-1" value="Guardar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

         <!--MODAL ELIMINAR-->
       <div id="eliminar" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">
                            <h4 class="modal-title">Eliminar Rol</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>¿Esta seguro de eliminar este rol?</p>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                            <input type="submit" class="btn btn-danger" value="Eliminar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>