<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="barra_cabecera">
        <!--BARRA DE BUSQUEDA**********************************************************************************-->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                      <i class="fa fa-bars"></i>
                    </button>
          
                    <!-- Buscador -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                      <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                          </button>
                        </div>
                      </div>
                </form>
                   <ul class="navbar-nav ml-auto">
          <div class="container mt-3">
            <!-- Button to Open the Modal -->
            <button type="button" class="btn btn-danger btn-icon-split" data-toggle="modal" data-target="#myModal">
              <div class="container-fluid text-center"><i class="fas fa-sign-out-alt si"></i></div>
            </button>
          
            <!-- The Modal -->
            <div class="modal fade " id="myModal">
              <div class="modal-dialog">
                <div class="modal-content">
                
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Salir..</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                  </div>
                  
                  <!-- Modal body -->
                  <div class="modal-body">
                    ¿Desea salir?
                  </div>
                  
                  <!-- Modal footer -->
                  <div class="modal-footer">
                 <!--indexLogin.html-->   <a href="#" class="btn btn-danger"> SI </a>
                  <!--index.html-->  <a href="#" class="btn btn-success"> No </a>
                  </div>
                  
                </div>
              </div>
            </div>
            
          </div>
                    </ul>   
          <!-- Copiar del nav ********************* -->
                  </nav>











    </div>
</body>

</html>