<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <!--links para boostrap-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="icon" href="/img/logo2.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/imgs/logo.png">
  <title>OrderFoodmanager</title>
  <!-- Custom fonts for this theme -->
  <link th:href="@{/recursos/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
    type="text/css">
  <!--CSS-->
  <link th:href="@{/css/freelancer.css}" rel="stylesheet">
</head>

<body>
  <!--ENCABEZADO DE LA PAGINA hacer referencia a la lista con el hfre  de la vista de la orden-->
  <header>
    <div>
      <div class="titu"><img src="/imgs/logo.png" alt="logo" height="60px" title="Order Food Manager">
        Order Food Manager
        <!-- <a href="/detalle/mostrar"><img id="carro" src="/imgs/iconos/icon.png" width="70px" height="70px"
            data-target="#portfolioModal12" data-toggle="modal"></a> -->
        <a href="/detalle/mostrar"><i class="text-light fas fa-concierge-bell fa-lg mt-3 mr-4 float-right"></i></a>
      </div>
    </div>
  </header>

  <!--ESTA ES LA CABECERA DEL PORTAFOLIO-->
  <section class="page-section portfolio" id="portfolio"
    style="background-image: url('/imgs/i3.jpg'); background-size: 100%;">
    <div>
      <!--ITEMS DENTRO DEL PORTAFOLIO-->
      <div class="row">
        <!-- Portfolio Modal 1 HHHH-->
        <div class="portfolio-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label"
          aria-hidden="true">
          <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                  <i class="fas fa-times"></i>
                </span>
              </button>
              <div class="modal-body text-center">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-lg-8">
                      <!-- Portfolio Modal - Title  HHHH -->
                      <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">ORDEN</h2>
                      <!-- Icon Divider -->
                      <div class="divider-custom">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon">
                          <i class="fas fa-star"></i>
                        </div>
                        <div class="divider-custom-line"></div>
                      </div>

                      <!--desde aca ingreso la tabla interna HHHH-->
                      <div class="tabla">

                      </div>
                      <td><button class="btn btn-primary" href="#" data-dismiss="modal">
                          <i> <a href="#"></a> <img
                              src="https://img.icons8.com/metro/26/000000/shopping-basket.png"></i> Ordenar
                        </button></td>
                      <!--##fin de tabla-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->


        <!-- Portfolio Item 1 -->
        <div class="col-md-6 col-lg-4" onclick="obtenerProductosCategoria('Plato fuerte', '#pet1')">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i id="pf"> Platos Fuertes</i>
              </div>
            </div>
            <img class="img-fluid" src="/imgs/pf.jpg" alt="Platos Fuertes">
          </div>
        </div>

        <!-- Portfolio Item 2 -->
        <div class="col-md-6 col-lg-4" onclick="obtenerProductosCategoria('Botanas', '#pet2')">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i>Botanas</i>
              </div>
            </div>
            <img class="img-fluid" src="/imgs/e.jpg" alt="Botanas">
          </div>
        </div>

        <!-- Portfolio Item 3 -->
        <div class="col-md-6 col-lg-4" onclick="obtenerProductosCategoria('Postres', '#pet3')">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i>Postres</i>
              </div>
            </div>
            <img class="img-fluid" src="/imgs/p.jpg" alt="Postres">
          </div>
        </div>

        <!-- Portfolio Item 4 -->
        <div class="col-md-6 col-lg-4" onclick="obtenerProductosCategoria('Bebidas', '#pet4')">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i>Bebidas</i>
              </div>
            </div>
            <img class="img-fluid" src="/imgs/b.jpg" alt="Bebidas">
          </div>
        </div>

        <!-- Portfolio Item 5 -->
        <div class="col-md-6 col-lg-4" onclick="obtenerProductosCategoria('Mariscos', '#pet5')">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i>Mariscos</i>
              </div>
            </div>
            <img class="img-fluid" src="/imgs/ma3.jpg" alt="Mariscos">
          </div>
        </div>

        <!-- Portfolio Item 6 -->
        <div class="col-md-6 col-lg-4" onclick="obtenerProductosCategoria('Combos', '#pet6')">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i>Combos</i>
              </div>
            </div>
            <img class="img-fluid" src="/imgs/vari.jpg" alt="Combos">
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    </div>
  </section>

  <!-- Copyright Section -->
  <section class="copyright p-3 mt-3 text-center text-white">
    <div class="container">
      <small>Copyright &copy; OrderFoodManager_CDS 2019</small>
    </div>
  </section>


  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- ////////////////////////INICIO DE TABLAS PARA MODALES:///////////////////////////// -->
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->

  <!-- Portfolio Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog"
    aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <!--boton para cerrar-->
        <button style="margin-left: 1100px;" type="button" class="close mt-1" data-dismiss="modal">
          <i class="fas fa-times-circle"></i>
        </button>
        <!--------------------------------------------------->
        <div class="modal-body text-center">
          <div>
            <div class="row justify-content-center">
              <div class="col-lg-10">
                <!-- Portfolio Modal - Title -->
                <!--  <h2 class="portfolio-modal-title text-secondary text-uppercase d-inline"> plato fuerte</h2> -->
                <h2 class="display-4">PLATOS FUERTES</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-drumstick-bite"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!--desde aca ingreso la tabla interna-->
                <div class="tabla">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th></th>
                        <th>Platillo</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Ordenar</th>
                      </tr>
                    </thead>
                    <tbody id="pet1">

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->


  <!-- Portfolio Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog"
    aria-labelledby="portfolioModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <!--boton para cerrar-->
        <button style="margin-left: 1100px;" type="button" class="close mt-1" data-dismiss="modal">
          <i class="fas fa-times-circle"></i>
        </button>
        <!--------------------------------------------------->
        <div class="modal-body text-center">
          <div>
            <div class="row justify-content-center">
              <div class="col-lg-10">
                <!-- Portfolio Modal - Title -->
                <h2 class="display-4">BOTANAS</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-cookie-bite"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!--desde aca ingreso la tabla interna-->
                <div class="tabla">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Platillo</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Ordenar</th>
                      </tr>
                    </thead>
                    <tbody id="pet2">
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->


  <!-- Portfolio Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog"
    aria-labelledby="portfolioModal3Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <!--boton para cerrar-->
        <button style="margin-left: 1100px;" type="button" class="close mt-1" data-dismiss="modal">
          <i class="fas fa-times-circle"></i>
        </button>
        <!--------------------------------------------------->
        <div class="modal-body text-center">
          <div>
            <div class="row justify-content-center">
              <div class="col-lg-10">
                <!-- Portfolio Modal - Title -->
                <!--  <h2 class="portfolio-modal-title text-secondary text-uppercase d-inline"> plato fuerte</h2> -->
                <h2 class="display-4">POSTRES</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-ice-cream"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!--desde aca ingreso la tabla interna-->
                <div class="tabla">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Platillo</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Ordenar</th>
                      </tr>
                    </thead>
                    <tbody id="pet3">
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->


  <!-- Portfolio Modal 4 -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog"
    aria-labelledby="portfolioModal4Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <!--boton para cerrar-->
        <button style="margin-left: 1100px;" type="button" class="close mt-1" data-dismiss="modal">
          <i class="fas fa-times-circle"></i>
        </button>
        <!--------------------------------------------------->
        <div class="modal-body text-center">
          <div>
            <div class="row justify-content-center">
              <div class="col-lg-10">
                <!-- Portfolio Modal - Title -->
                <!--  <h2 class="portfolio-modal-title text-secondary text-uppercase d-inline"> plato fuerte</h2> -->
                <h2 class="display-4">BEBIDAS</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-glass-cheers"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!--desde aca ingreso la tabla interna-->
                <div class="tabla">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Platillo</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Ordenar</th>
                      </tr>
                    </thead>
                    <tbody id="pet4">
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->


  <!-- Portfolio Modal 5 -->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog"
    aria-labelledby="portfolioModal5Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <!--boton para cerrar-->
        <button style="margin-left: 1100px;" type="button" class="close mt-1" data-dismiss="modal">
          <i class="fas fa-times-circle"></i>
        </button>
        <!--------------------------------------------------->
        <div class="modal-body text-center">
          <div>
            <div class="row justify-content-center">
              <div class="col-lg-10">
                <!-- Portfolio Modal - Title -->
                <!--  <h2 class="portfolio-modal-title text-secondary text-uppercase d-inline"> plato fuerte</h2> -->
                <h2 class="display-4">MARISCOS</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-fish"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!--desde aca ingreso la tabla interna-->
                <div class="tabla">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Platillo</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Ordenar</th>
                      </tr>
                    </thead>
                    <tbody id="pet5">
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->


  <!-- Portfolio Modal 6 -->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog"
    aria-labelledby="portfolioModal6Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <!--boton para cerrar-->
        <button style="margin-left: 1100px;" type="button" class="close" data-dismiss="modal">
          <i class="fas fa-times"></i>
        </button>
        <!--------------------------------------------------->
        <div class="modal-body text-center">
          <div>
            <div class="row justify-content-center">
              <div class="col-lg-10">
                <!-- Portfolio Modal - Title -->
                <!--  <h2 class="portfolio-modal-title text-secondary text-uppercase d-inline"> plato fuerte</h2> -->
                <h2 class="display-4">COMBOS</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-box-open"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!--desde aca ingreso la tabla interna-->
                <div class="tabla">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Platillo</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Ordenar</th>
                      </tr>
                    </thead>
                    <tbody id="pet6">
                    </tbody>
                  </table>
                </div>
                <!--fin de tabla-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->

  <!-- Plugin JavaScript -->
  <script th:src="@{/recursos/jquery/jquery.min.js}"></script>
  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/recursos/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <!-- Plugin JavaScript -->
  <script th:src="@{/recursos/jquery-easing/jquery.easing.min.js}"></script>
  <!-- Contact Form JavaScript -->
  <script th:src="@{/js/sb-admin-2.js}"></script>
  <script th:src="@{/js/sb-admin-2.min.js}"></script>
  <!-- Custom scripts for this template -->
  <script th:src="@{/js/main.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script>
    let datosOrden = {
      id: 0,
    };

    $(document).ready(inicio);
    function inicio() {
      $("body").on("click", ".ordenar", function () {
        cargarDetalles($(this).parent().parent().children('td:eq(0)').text());
      });
    }

    function obtenerProductosCategoria(categoria, id) {
      $.ajax({
        url: "/producto/productos",
        method: "Get",
        data: { categoria: categoria },
        success: function (response) { procesar(response, id) },
        error: error
      });
    }

    function procesar(response, id) {
      var pet = $(id);
      pet.html("");
      response.forEach(i => {
        pet.append("<tr>"
          + "<td>" + i.idProducto + "</td>"
          + "<td><img src=" + i.imagen + "/ width='80px' height='80px'></td>"
          + "<td>" + i.nombreProducto + "</td>"
          + "<td>" + "<input id='inpcantidad' value='1' type='number' style='border: 0; background-color: white;' " + "</td>"
          + "<td>" + i.precio  + "</td>"
          + "<td><button class='btn btn-primary ordenar'>Ordenar</button></td>"
         +"</tr>");
      });
    }

    function cargarDetalles(id) {
      datosOrden.id = id;


      $.ajax({
        url: "http://localhost:8080/detalle/detallesOrden",
        method: "Post",
        data: {
          idProducto: datosOrden.id,
          cantidad : $("#inpcantidad").val()
        },
        success: function (response) {
          Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Orden realizada',
            showConfirmButton: false,
            timer: 1500
          })
          console.log(response.Mensaje);
        },
        error: error
      });
    }

    function error(response) {
      alert("Error");
    }
  </script>
</body>

</html>