<!DOCTYPE html>
<html lang="es">

<head>
    <title>Cliente</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" href="/img/logo2.png">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Usuario/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Usuario/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Usuario/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Usuario/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Usuario/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Usuario/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Usuario/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Usuario/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Usuario/css/util.css">
    <link rel="stylesheet" type="text/css" href="/Usuario/css/main.css">
    <!--===============================================================================================-->
</head>

<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('/Usuario/images/res.jpg');">
            <div class="wrap-login100 p-t-30 p-b-50">
                <span class="p-b-41 display-3 text-light texto" style="font-family: Gill Sans;">
                    Bienvenidos/as
                </span>
                <div class="login100-form validate-form p-b-33 p-t-5 mt-3">
                    <div class="wrap-input100 validate-input" data-validate="Ingrese su nombre">
                        <input class="input100" type="text" id="inpCliente" placeholder="Ingrese su nombre"
                            autocomplete="off">
                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                    </div>
                    <div class="container-login100-form-btn m-t-32">
                        <button class="login100-form-btn" id="btnSave">
                            Entrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <section class="copyright p-3 mt-3 text-center">
            <div class="container">
                <small>Copyright &copy; OrderFoodManager_CDS 2019</small>
            </div>
        </section>
    </div>




    <!--===============================================================================================-->
    <script src="/Usuario/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Usuario/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Usuario/vendor/bootstrap/js/popper.js"></script>
    <script src="/Usuario/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Usuario/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Usuario/vendor/daterangepicker/moment.min.js"></script>
    <script src="/Usuario/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/Usuario/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="/Usuario/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <script>
        $(document).ready(inicio);
        function inicio() {
            $("#btnSave").click(valid);
        }

        function guardar() {
            $.ajax({
                url: "http://localhost:8080/cliente/save",
                method: "Get",
                data: {
                    nombre: $("#inpCliente").val()
                },
                success: function (response) {
                    console.log(response.Mensaje);
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Bienvenido!',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    $("#inpCliente").val("");
                    $(location).attr("href","http://localhost:8080/detalle/vista")
                },
                error: function (response) {
                    console.log(response.Mensaje);
                }
            });
        }

        function valid(){
            var nombre = $("#inpCliente").val();
            if(nombre == ""){
                Swal.fire({
                        position: 'center',
                        icon: 'error',
                        title: 'Ingrese su nombre!',
                        showConfirmButton: false,
                        timer: 1500
                    });
            }else{
                guardar();
            }
        }
    </script>
</body>

</html>