<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="ISO-8859-1">
  <title>OrderFoodManager</title>
  <link rel="icon" href="/imgs/logo.png">
  <link th:href="@{/recursos/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
    type="text/css">
  <!-- *********************************** -->
  <link th:href="@{/css/freelancer.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- DataTable pugins -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
  </head>

<body style="background-color: #E5E2EE;">
  <header>

    <div class="titu" style="height: 100px;"><img src="/imgs/logo.png" alt="logo" height="60px"
        title="Order Food Manager">
      Order Food Manager
      <a href="/detalle/vista"><img src="/images/back .png" class="float-right mr-5 mt-3" width="50" height="50"></a>
    </div>
  </header>
  <div class="Container">

    <div class="container mt-3">
      <div class="form-group">
        <label for="nombre" class="text-info">
          <h2>Nombre:</h2>
        </label><br>
        <input type="text" placeholder="Digite su nombre..." required class="form-control col-4">
        <small class="text-muted">*Propietario de la orden/cliente*</small>
      </div>
    </div>

    <div class="container mt-2 mb-5">
      <table class="table table-hover border border-info" id="TableDetalles">
        <thead class="bg-info">
          <tr>
            <th>N°</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody id="ProductDetails">
         <!--  <tr>
            <td>01</td>
            <td>Carne asada</td>
            <td>1</td>
            <td>3.50</td>
            <td>
              <a class="btn btn-outline-warning" role="button"><i class="fas fa-edit"></i> Editar</a>
              <a class="btn btn-outline-danger" role="button"><i class="fas fa-trash-alt"></i> Eliminar</a>
            </td>

          </tr> -->
        </tbody>
      </table>
    </div>
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <button class="btn btn-info btn-lg"><img src="/images/ordenar.png" width="30" height="30"> Ordenar</button>
      </div>
    </div>
    <div class="text-right container">
      <label for="nombre" class="text-info">
        <h2>Total:</h2>
      </label>
      <div id="total" style="width: 50px; height: 50px;" class="bg-light float-right ml-1">
        <h4 class="float-left text-muted mt-2">$</h4>
      </div><br>
      <span class="text-muted">*Total de la orden*</span><br>
      

    </div>

  </div>
  <!-- Copyright Section -->

  <!-- <section class="copyright py-4 mt-3 text-center text-white" style="position: absolute; bottom: 0; width: 100%;">
    <div class="container">
      <small>Copyright &copy; OrderFoodManager_CDS 2019</small>
    </div>
  </section> -->
  
  <script>
    $(document).ready(inicio);
    function inicio(){
      cargarOrden();
      datatableDetalles();
    }

    function datatableDetalles(){
      $("#TableDetalles").DataTable({
        "language": {
            "lengthMenu": "Mostrar _MENU_ ",
            "zeroRecords": "No hay sintomas que mostrar.",
            "info": "Mostar páginas _PAGE_ de _PAGES_",
            "infoEmpty": "",
            "infoFiltered": "(Filtrados por _MAX_ total registros)",
            "search": "Buscar:",
            "paginate": {
                "first": "Primero",
                "last": "Anterior",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        }
      });
    }

    function cargarOrden(){
      $.ajax({
        url : "http://localhost:8080/detalle/mostrarDetalles",
        method:"Get",
        data : null,
        success : function(response){
          $("#ProductDetails").html("");
          response.forEach(i => {
            $("#ProductDetails").append(""
            +"<tr>"
              +"<td>" + i.idProducto.idProducto + "</td>"
              +"<td>" + i.idProducto.nombreProducto + "</td>"
              +"<td>" + i.idProducto.precio + "</td>"
              +"<td>" + i.cantidad + "</td>"
              +"<td>" + (i.idProducto.precio * i.cantidad) + "</td>"
              + "<td><button class='btn btn-outline-warning mr-2'><i class='fas fa-edit'></i>Editar</button>" 
              + "<button class='btn btn-outline-danger'><i class='fas fa-trash-alt'></i>Eliminar</button>"
              +"</td>"
            +"</tr>"
            );
          });
        },
        error : function(response){
          console.log("Error en la peticion" + response);
        }
      });
    }
  </script>
</body>

</html>