<!DOCTYPE html>
<html>
<head>
            <meta charset="utf-8">

            <link rel="stylesheet" type="text/css" href="css/loginStyle.css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link href="recursos/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">


  <title>Order Food Manager</title>

  <!-- Custom fonts for this template-->


      </head>  
      <font color="Olive" face="Comic Sans MS,arial"><br>
       <br>
       <br>
      </font> 
     <body id="body"  style=" background-repeat:  no-repeat; background-image: url('img/fondo.jpg'); background-size: 1600px 800px;">
     
      
      <h1 id="ofm" class="text-center display-3" ></h1>

                         <div id="login">
            
                         <div class="container" >
                         <div id="login-row" class="row justify-content-center align-items-center">
                         <div id="login-column" class="col-md-12">
                         <div id="login-box" class="col-md-12">
       <h1 class="text-center mt-fixed-nav"> <br>Bienvenido.</h1>
         <div class="row justify-content-center align-items-center"><img  src="./img/user.png" width="100" height="100"></div>
           <div class="container">        
            </div>

                             
                   <form id="login-form" class="form" action="" method="post">
                                   <h3 class="text-center text-info"></h3>    
                           <div class="form-group">
                                <label id="email" >Email:</label>
                                <input type="text" name="username" id="username" class="form-control" autocomplete="off" required>
                            </div>
                            <div class="form-group">
                                <label id="password">Password:</label><br>
                                <input type="password"  name="password" id="passwordi" class="form-control" required>
                            </div>
                            <div class="form-group" >
                                <a href="index.html" class="btn btn-info btn-md">Ingresar</a>
                               <!--<input type="submit" name="submit" class="btn btn-info btn-md" value="Ingresar">--> 
                            </div>
                            <div id="register-link" class="text-right">
                            </div>
                     </form>
                              </div>
                              </div>
                              </div>
                              </div>
                              </div>
                            </div>
                            <div><img class="hola" src="img/logo3.0.png" width="800" height="700">
                            </div>
                                          
      </body>
</html>
