<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="component/assetLogin::assets"></head>

<body>
	<div class="limiter">
		<div class="container-login100"
			style="background-image: url('/images/fondo.jpg'); background-repeat: no-repeat;">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="POST" th:action="@{/login}">
					<span class="login100-form-logo">
						<img src="https://img.icons8.com/metro/52/000000/restaurant-building.png">
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Bienvenid@s
					</span>

					<div class="wrap-input100 validate-input" data-validate="Type user name">
						<input class="input100" id="username" type="text" name="username" placeholder="Username">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Type password">
						<input class="input100" id="password" type="password" name="password" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Ingresar
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div th:include="component/scriptLogin::scripts"></div>
</body>

</html>